* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000 !important;
}

/* Navbar======================== */

.navbar {
    background: #000 !important;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.btn-outline-light {
    border-radius: 0;
}

.btn-outline-light:focus {
    box-shadow: none;
}
.light-back{
    background-color: #f5f5f52a;
}

@media screen and (max-width: 768px) {
    .btn-outline-light {
        border: none;
        padding: 0;
        outline: none;
    }
  
    .btn-outline-light:hover {
        background: none;
        color: gray;
    }
}

.btns {
    background-color: turquoise !important;
    color: black !important;
}

.rounded-circle {
    border-radius: 50% !important;
    padding: 6px;
    background-color: #f4ecec57;
}

.heading {
    font-size: 24px;
    margin: 0;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carousel Start===================== */
#carouselExampleCaptions{
    margin-top: -100px !important;
}

/*
 *  Bootstrap Carousel Effect Ken Burns
 * ===========================================================================*/
/* 
 @keyframes kenburns {
    0% {
      transform: scale(1);
      transition: transform 2ms linear 0s;
    }
  
    100% {
      transform: scale(1.4);
      transition: transform 2ms linear 0s;
    }
  } */
  
  /* Carousel Wrapper */
  .kb-carousel {
    overflow: hidden;
    max-height: 650px;
  }
  
  /* Carousel Items */
  /* .kb-carousel .carousel-item {
    transition: transform .6s ease-in-out 0s, opacity ease-in-out .6s;
  } */
  
  /* .kb-carousel .carousel-item.active {
    transition: transform .6s ease-in-out 0s, opacity ease-in-out .6s;
  } */
  
  .kb-carousel > .carousel-inner > .carousel-item > img,
  .kb-carousel > .carousel-inner > .carousel-item > a > img {
    opacity: 0.8;
    animation: kenburns 20000ms linear 0s infinite alternate;
  }
  
  .kb-carousel .carousel-item-next.carousel-item-start .carousel-caption,
  .kb-carousel .carousel-item-prev.carousel-item-end .carousel-caption {
    z-index: 0;
    opacity: 0;
    
  }
  
  /* Carousel Captions */
  .kb-caption {
    right: 7%;
    left: 7%;
    bottom: 25%;
    padding: 0;
    width: 80%;
  }
  
  .kb-caption-left {
    margin-right: auto;
  }
  
  .kb-caption-right {
    margin-left: auto;
  }
  
  .kb-caption-center {
    margin: auto;
  }
  
  .kb-caption h1,
  .kb-caption h3 {
    padding: 0.5rem 0;
    margin-bottom: 0;
  }
  
  .kb-caption h1 {
    animation-delay: 1s;
    color: #bf392b;
    background: #fff;
  }
  
  .kb-caption h3 {
    animation-delay: 1.5s;
    color: #fff;
    background: rgba(0 0 0 / 0.5);
  }
  
  @media (min-width: 768px) {
    .kb-caption {
      bottom: 37%;
      width: 40%;
    }
  }
  
  @media (min-width: 1200px) {
    .kb-caption {
      bottom: 45%;
    }
  }
  
  /* Controls */
  .kb-control-prev,
  .kb-control-next {
    width: 3.5rem;
    height: 3.5rem;
    margin: auto 0;
    opacity: 0;
    color: #fff;
    background: rgba(0 0 0 / 0.7);
  }
  
  .kb-carousel:hover .kb-control-prev,
  .kb-carousel:hover .kb-control-next {
    opacity: 1;
  }
  
  .kb-control-prev {
    left: 1%;
  }
  
  .kb-control-next {
    right: 1%;
  }
  
  .kb-control-prev:hover,
  .kb-control-prev:focus,
  .kb-control-next:hover,
  .kb-control-next:focus {
    color: #fff;
    background: rgba(0 0 0 / 1);
  }
  
  /* Support for dark mode */
  [data-bs-theme = "dark"] .carousel .carousel-control-next-icon,
  [data-bs-theme = "dark"] .carousel .carousel-control-prev-icon {
    filter: none;
  }
  
  /* Home======================== */
  .Home{
    background-image:linear-gradient(to  left, rgba(6, 94, 88, 0.623), rgba(1, 12, 10, 0.605),rgba(1, 12, 10, 0.605),rgba(6, 94, 88, 0.623)), url('http://static1.squarespace.com/static/61e32436c5eb655d913f8cf7/t/62028bf7e8970b68d05342d6/1644334083246/New+Project+%288%29+%281%29.png?format=1500w');
    background-color: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .inner-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
  
  }
  .home-content{
    text-align: center;
    padding-bottom: 20px;
  }
  .home-content h1{
    font-size: 50px;
  }
  .home-content p{
    padding-top: 5px;
  }
  .btn-border{
    border: 2px solid turquoise;
    color: white;
    font-weight: bold;
  }
  .bold{
    font-weight: bold;
  }

  /* button */
  /* 11 */
  .custom-btn {
    width: 220px;
    height: 45px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid turquoise;
     box-shadow:inset 2px 2px 12px 2px rgba(13, 10, 10, 0.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    ;
  }
  .btn-11{
    background-color: turquoise;
    font-weight: bold;
    color: #000;
  }
  .btn-11:hover {
      text-decoration: none;
      color: #0b0a0a;
  }
 
  .btn-11:hover{
    opacity: .7;
  }
  /* .btn-11:active{
    box-shadow:  4px 4px 6px 0  ,
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  } */
  

  
  
  /* 12 */
  .custom-btn12 {
    width: 220px;
    height: 45px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid turquoise;
     box-shadow:inset 2px 2px 12px 1px turquoise,
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    ;
  }
  .btn-12{
    
    /* background: rgb(72, 240, 148) */
      /* background: linear-gradient(0deg, rgb(8, 101, 94)0%, rgb(72, 240, 148) 100%); */
      color: #fff;
      overflow: hidden;
  }
  .btn-12:hover {
      text-decoration: none;
      color: #fff;
  }
  .btn-12:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 2s ease-in-out infinite;
  }
  .btn-12:hover{
    opacity: .7;
  }
  .btn-12:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
  
  
  @-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  }
  /* Buttons End=============================== */

  /* Cards Start=============================== */
  .netaaliean-smallcard{
    background-color: #141212da;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgb(11, 11, 11);
    color: white;
    padding: 10px;
  }
  .netaaliean-smallcard:hover{
    box-shadow: 0px 0px 20px turquoise;
    transition: 2s;
    
  }

 .small-card1{
  background-color: #c3cdc955;
  border-top: 5px solid turquoise;
  width: 300px;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 50px;  
 }
 .small-card1:hover{
  background-color: rgba(72, 240, 148, 0.26);
 }

/* 2 */
.small-card2{
  background-color: #c3cdc955;
  border-bottom: 5px solid turquoise;
  width: 300px;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 50px;  
 }
 .small-card2:hover{
  background-color: rgba(72, 240, 148, 0.26);
 }
/* 3 */
.small-card3{
  background-color: #c3cdc955;
  border-top: 5px solid turquoise;
  width: 300px;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;  
 }
 .small-card3:hover{
  background-color: rgba(72, 240, 148, 0.26);
 }
/* 4 */
.small-card4{
  background-color: #c3cdc955;
  border-bottom: 5px solid turquoise;
  width: 300px;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 50px;  
 }
 .small-card4:hover{
  background-color: rgba(72, 240, 148, 0.26);
 }

 .inner-small-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .inner-small-card img {
  width: 100px;
  height: 100px;

 }
 .inner-small-card img {
  width: 100px;
  height: 100px;

 }
 .inner-small-card h5{
  color:turquoise;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
 }
 .small-card-heading{
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 5px;
 }
.img2{
  width: 150px !important;
  height: 100px;
}

.img3{
  width: 80px !important;
  height: 80px !important;
  
}
.img4{
  width: 70px !important;
  height: 70px !important;
}
.diffferent-heading{
  color: turquoise;
}